.app{
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

.text{
    color: antiquewhite;
    font-size: 25px;
    font-weight: 600;
    font-style: normal;
    box-sizing: border-box;
    box-shadow: 0, 0, 0, 0.5;
    border: 5px solid black;
    border-radius: 5px;
}

.btn{
    color: antiquewhite;
    box-shadow: 0, 0, 0, 0.5;
    border: 5px solid black;
    border-radius: 5px;
}