.app{
    font-family: sans-serif;
    padding: 2rem;
    align-items: center;
    height: 100vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.card{
    align-items: center;
    border: 2px solid #ddd;
    border-radius: 12px;
    padding: 1rem;
    max-width: 300px;
    margin: 0 auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card img{
    width: 100%;
    border-radius: 12px;
}