.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    padding: 2rem;
    background-color: black;
    height: 100vh; /* Full page centering */
  }
  
  .greeting {
    color: antiquewhite;
    padding: 3rem;
    border: 5px solid yellow;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(255, 255, 0, 0.3);
    transition: all 0.3s ease-in-out;
    text-align: center;
  }
  